{% extends 'base.html.twig' %}

{% block title %}Registration | Ama's Beauty{% endblock %}

{% block body %}

<h1 class="text-center my-4 p-5">Sign up !</h1>

  <div class="row">
        <div class="col-6 mx-auto">
            {% include 'include/_flashes.html.twig' %}
        </div>
    </div>

<div class="row">
    <div class="col-8 mx-auto">
       
       {{ form_start(form) }}

       <div class="row">
        <div class="col-6">{{ form_row(form.firstname) }}</div>
         <div class="col-6">{{ form_row(form.lastname) }}</div>
       </div>

       

       {{ form_row(form.gender) }}

       <div class="row">
        <div class="col 6">{{ form_row(form.email) }}</div>
        <div class="col 6">{{ form_row(form.password) }}</div>
       </div>

       {{ form_row(form.submit) }}

       {{ form_end(form) }}
    </div>
</div>

{% endblock %}

